.idea/
.sass-cache/
.vscode/

npm-debug.log*
ionfire-docs.pdf

mobile/.tmp/
mobile/src/app/app.config.ts
mobile/tmp/
mobile/node_modules/
mobile/www/
mobile/platforms/
mobile/plugins/
mobile/resources/ios/
mobile/resources/android/

$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
